.aboutUs-content {
  width: 100vw;
  height: 100%;
  background-color: $primary-color;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding: 100px 100px 200px 100px;
  @media only screen and (max-width: 1200px) {
    padding: 70px 150px 150px 150px;
  }
  @media only screen and (max-width: 850px) {
    padding: 70px 120px 150px 120px;
  }
  @media only screen and (max-width: 600px) {
    padding: 70px 90px 150px 90px;
  }
  @media only screen and (max-width: 480px) {
    padding: 70px 40px 150px 40px;
  }

  .aboutUs-photo {
    margin-right: 70px;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    img {
      width: 500px;
      height: 500px;
      border-radius: 5px;
    }
  }

  .aboutUs-description {
    .aboutUs-heading {
      color: white;
      font-weight: 300;
      font-size: 2.5rem;
      position: relative;
      padding-bottom: 1rem;
      margin-bottom: 4rem;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 1px;
        background-color: $secondary-color;
      }
    }
    .aboutUs-text {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      line-height: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Plan styles
    .aboutUs-plans {
      margin-top: 5rem;
      .aboutUs-plan {
        border-top: 2px solid $secondary-color;
        .plan-heading {
          padding-top: 1rem;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          margin-bottom: 1rem;
          i {
            color: $secondary-color;
            margin-right: 10px;
            justify-self: left;
          }
          h2 {
            color: white;
            font-weight: 300;
          }
        }
        .plan-text {
          color: white;
          font-weight: 300;
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }
  }
}
