footer {
  background-color: $primary-color;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  padding: 80px 100px 50px 100px;
  @media only screen and (max-width: 1200px) {
    padding: 80px 50px 50px 50px;
  }

  .company-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-logo {
      img {
        width: 150px;
        height: 60px;
      }
    }
    p {
      color: white;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
  .footer-location {
    text-align: center;
    p {
      font-weight: 300;
      font-size: 1.2rem;
      color: white;
      margin-bottom: 1rem;

      &:last-child {
        font-size: 1.3rem;

        i {
          margin-right: 5px;
        }
      }
    }
  }
  .footer-social {
    p {
      text-align: center;
      font-size: 1.2rem;
      color: white;
      margin-bottom: 1rem;
    }
    .footer-socialLinks {
      display: flex;
      justify-content: center;

      a {
        color: white;
        font-size: 3.5rem;
        margin-right: 2rem;
        transition: color 0.4s;
        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
  .footer-contact {
    p {
      text-align: left;
      font-size: 1.2rem;
      color: white;
      margin-bottom: 1rem;
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
      i {
        margin-right: 5px;
      }
    }
  }
  .copyrights {
    display: flex;
    justify-content: center;
    p {
      color: white;
      margin-right: 1rem;
    }
  }
}
