.call-to-action {
  .banner {
    background-color: rgba($primary-color, 0.8);
    border-radius: 0px 5px 0px 0px;
    padding: 50px 50px 30px 100px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1200px) {
      padding-left: 50px;
    }
    @media only screen and (max-width: 1024px) {
      width: 500px;
      border-radius: 5px;
    }
    @media only screen and (max-width: 600px) {
      width: 450px;
    }
    @media only screen and (max-width: 530px) {
      width: 400px;
    }
    @media only screen and (max-width: 480px) {
      width: 350px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media only screen and (max-width: 380px) {
      width: 320px;
    }

    h1 {
      color: white;
      font-weight: 400;
      font-size: 2.5rem;
      position: relative;
      padding-bottom: 15px;

      @media only screen and (max-width: 1024px) {
        text-align: center;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 1px;
        background-color: $secondary-color;
        @media only screen and (max-width: 1024px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &-text {
      color: white;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 3rem;
      margin-top: 40px;
    }

    &-button {
      display: block;
      color: $primary-color;
      text-align: center;
      padding: 15px 0px;
      width: 150px;
      border-radius: 5px;
      margin-top: 40px;
      font-size: 1.5rem;
      background-color: $secondary-color;
      transition: background-color 0.4s;
      margin-bottom: 50px;

      @media only screen and (max-width: 1024px) {
        align-self: center;
        margin-bottom: 0;
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .social-links {
    display: flex;
    background-color: $primary-color;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    height: 80px;
    padding: 10px;
    border-radius: 5px 0px 0px 0px;

    .link {
      margin-bottom: 10px;
      display: block;
      &:last-child {
        margin-bottom: 0;
      }
      i {
        font-size: 2.5rem;
        color: $secondary-color;
        transition: color 0.4s;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
