.sideBar-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  opacity: 0;
  height: 100vh;
  z-index: 2501;
  background-color: rgba($primary-color, 1);
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 20px 50px 0px 50px;

  @media only screen and (max-width: 450px) {
    padding: 20px 20px 0px 20px;
  }

  &-close {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 30px;
    display: block;
    align-self: flex-end;
    opacity: 0;

    @media only screen and (max-width: 450px) {
      right: 20px;
    }
    i {
      font-size: 2.5rem;
      color: white;
    }
  }

  ul {
    opacity: 0;
    li {
      margin-bottom: 20px;
      a {
        width: 100%;
        display: block;
        color: white;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        padding: 10px 0;
      }
    }
    .sideBar-dropdown-tabs {
      overflow: hidden;
      padding: 10px 0;
      margin-bottom: 0;

      .sideBar-dropdown {
        width: 100%;
        overflow: hidden;
        text-align: center;

        input {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        label {
          font-size: 2rem;
          font-weight: 300;
          color: white;
        }

        &-content {
          max-height: 0;
          overflow: hidden;
          margin-top: 15px;

          padding-top: 10px;
          transition: max-height 0.7s;
          -webkit-transition: max-height 0.7s;
          padding: 0;
          // margin-top: 2rem;
          border-left: 1px solid $secondary-color;
        }

        input:checked {
          ~ .sideBar-dropdown-content {
            max-height: 100vh;
          }
        }
      }
    }
  }

  .social-links {
    opacity: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid $secondary-color;
    padding-top: 20px;
    justify-self: flex-end;
    &-link {
      margin-right: 15px;
      i {
        font-size: 4rem;
        color: $secondary-color;
      }
    }
  }
}

.sideBar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
  opacity: 0;
  background-color: rgba($primary-color, 0.7);
}
