$primary-color: #002d40;
$secondary-color: #f9fd50;
$grey-color: #dbdee0;
$hover-color: #ffd700;
$light-grey: #c5c8ca;
$primary-color-hover: #032939;

$box-shadow: 1rem 1rem 1rem rgba($primary-color, 0.2);
$dark-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
