*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }
  @media only screen and (max-width: 1158px) {
    html {
      font-size: 55%; } }

a {
  text-decoration: none; }

ul {
  list-style: none; }

* {
  font-family: 'Montserrat', sans-serif; }

.home-page-content {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 60px 1fr 3fr; }
  @media only screen and (max-width: 1024px) {
    .home-page-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px minmax(20px, 1fr) max-content minmax(20px, 1fr); } }
  .home-page-content .header-contact-information {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 1024px) {
      .home-page-content .header-contact-information {
        display: none; } }
  .home-page-content .header-navigation {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 2fr; }
    @media only screen and (max-width: 1024px) {
      .home-page-content .header-navigation {
        grid-row: 1 / 2;
        grid-template-columns: 1fr 2fr; } }
  .home-page-content .call-to-action {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    grid-template-columns: 1fr 1fr 2fr max-content;
    grid-template-rows: max-content;
    align-content: flex-end; }
    @media only screen and (max-width: 1024px) {
      .home-page-content .call-to-action {
        grid-template-columns: minmax(50px, 1fr) max-content minmax(50px, 1fr);
        grid-row: 3 / 4; } }
    @media only screen and (max-width: 480px) {
      .home-page-content .call-to-action {
        grid-template-columns: minmax(20px, 1fr) max-content minmax(20px, 1fr); } }
    .home-page-content .call-to-action .banner {
      grid-column: 1 / 3; }
      @media only screen and (max-width: 1024px) {
        .home-page-content .call-to-action .banner {
          grid-column: 2 / 3; } }
    .home-page-content .call-to-action .social-links {
      grid-column: 4 / 5; }
      @media only screen and (max-width: 1024px) {
        .home-page-content .call-to-action .social-links {
          display: none; } }

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/background.jpg");
  background-position: center;
  background-size: cover; }

.background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 45, 64, 0.3); }

.header-contact-information {
  background-color: #002d40;
  display: flex;
  justify-content: right;
  padding-right: 100px; }
  @media only screen and (max-width: 1200px) {
    .header-contact-information {
      padding: 0 50px; } }
  .header-contact-information .contact-information {
    display: flex; }
    .header-contact-information .contact-information .information-text {
      display: flex;
      align-items: center;
      margin-right: 20px; }
      .header-contact-information .contact-information .information-text:last-child {
        margin-right: 0; }
      .header-contact-information .contact-information .information-text img {
        width: 15px;
        height: 15px;
        margin-right: 10px; }
      .header-contact-information .contact-information .information-text p {
        color: white;
        font-size: 1.2rem;
        font-weight: 300; }

.header-navigation {
  background-color: rgba(0, 45, 64, 0.9);
  padding: 0 100px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    .header-navigation {
      padding: 0 50px; } }
  @media only screen and (max-width: 450px) {
    .header-navigation {
      padding: 0 20px; } }
  .header-navigation .logo img {
    width: 150px;
    height: 40px; }
  .header-navigation nav {
    justify-self: right;
    height: 100%; }
    @media only screen and (max-width: 980px) {
      .header-navigation nav {
        display: none; } }
    .header-navigation nav .navigation-list {
      display: flex;
      height: 100%; }
      .header-navigation nav .navigation-list .navigation-item {
        margin-right: 30px;
        position: relative; }
        .header-navigation nav .navigation-list .navigation-item:last-child {
          margin-right: 0; }
        .header-navigation nav .navigation-list .navigation-item .navigation-link {
          position: relative;
          display: block;
          color: white;
          font-size: 1.6rem;
          height: 100%;
          padding-top: 20px;
          font-weight: 300; }
          .header-navigation nav .navigation-list .navigation-item .navigation-link::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #f9fd50;
            transition: width 0.4s; }
        .header-navigation nav .navigation-list .navigation-item .navigation-link:hover.navigation-link::after {
          width: 100%; }
        .header-navigation nav .navigation-list .navigation-item .navigation-link:hover.subMenu-entry::after {
          width: 0; }
        .header-navigation nav .navigation-list .navigation-item ul {
          position: absolute;
          display: block;
          opacity: 0;
          visibility: hidden;
          background-color: rgba(0, 45, 64, 0.9);
          border-top: 1px solid #f9fd50;
          width: 140px;
          padding: 0px 10px;
          border-radius: 0px 0px 5px 5px;
          transition: all 0.4s; }
          .header-navigation nav .navigation-list .navigation-item ul li {
            margin-bottom: 10px; }
            .header-navigation nav .navigation-list .navigation-item ul li a {
              padding-top: 15px;
              display: block;
              color: white;
              font-weight: 300;
              font-size: 1.6rem;
              transition: color 0.4s; }
            .header-navigation nav .navigation-list .navigation-item ul li a:hover {
              color: #f9fd50; }
      .header-navigation nav .navigation-list .subMenu-item:hover ul {
        opacity: 1;
        visibility: visible; }
  .header-navigation .mobile-navigation-button {
    width: 30px;
    align-self: center;
    justify-self: right;
    display: none;
    z-index: 1000; }
    @media only screen and (max-width: 980px) {
      .header-navigation .mobile-navigation-button {
        display: block; } }
    .header-navigation .mobile-navigation-button span {
      width: 30px;
      display: block;
      height: 3px;
      margin-bottom: 5px;
      background-color: white; }
      .header-navigation .mobile-navigation-button span:last-child {
        margin-bottom: 0; }

.sideBar-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  opacity: 0;
  height: 100vh;
  z-index: 2000;
  background-color: #002d40;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 20px 50px 0px 50px; }
  @media only screen and (max-width: 450px) {
    .sideBar-navigation {
      padding: 20px 20px 0px 20px; } }
  .sideBar-navigation-close {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 30px;
    display: block;
    align-self: flex-end;
    opacity: 0; }
    @media only screen and (max-width: 450px) {
      .sideBar-navigation-close {
        right: 20px; } }
    .sideBar-navigation-close img {
      width: 20px;
      height: 20px; }
  .sideBar-navigation ul {
    opacity: 0; }
    .sideBar-navigation ul li {
      margin-bottom: 20px; }
      .sideBar-navigation ul li a {
        width: 100%;
        display: block;
        color: white;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        padding: 10px 0; }
      .sideBar-navigation ul li .sideBar-dropdown-links {
        border-left: 1px solid #f9fd50;
        background-color: rgba(255, 255, 255, 0.2);
        position: relative;
        overflow: hidden;
        display: none;
        opacity: 0;
        transform: tranlsateY(-40px); }
  .sideBar-navigation .social-links {
    opacity: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #f9fd50;
    padding-top: 20px;
    justify-self: flex-end; }
    .sideBar-navigation .social-links-link {
      margin-right: 15px; }
      .sideBar-navigation .social-links-link i {
        font-size: 4rem;
        color: #f9fd50; }

.sideBar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
  opacity: 0;
  background-color: rgba(0, 45, 64, 0.7); }

.call-to-action .banner {
  background-color: rgba(0, 45, 64, 0.8);
  border-radius: 0px 5px 0px 0px;
  padding: 50px 50px 30px 100px;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 1200px) {
    .call-to-action .banner {
      padding-left: 50px; } }
  @media only screen and (max-width: 1024px) {
    .call-to-action .banner {
      width: 500px;
      border-radius: 5px; } }
  @media only screen and (max-width: 600px) {
    .call-to-action .banner {
      width: 450px; } }
  @media only screen and (max-width: 530px) {
    .call-to-action .banner {
      width: 400px; } }
  @media only screen and (max-width: 480px) {
    .call-to-action .banner {
      width: 350px;
      padding-left: 20px; } }
  @media only screen and (max-width: 380px) {
    .call-to-action .banner {
      width: 320px;
      padding-left: 20px; } }
  .call-to-action .banner h1 {
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 15px; }
    @media only screen and (max-width: 1024px) {
      .call-to-action .banner h1 {
        text-align: center; } }
    .call-to-action .banner h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: #f9fd50; }
      @media only screen and (max-width: 1024px) {
        .call-to-action .banner h1::after {
          left: 50%;
          transform: translateX(-50%); } }
  .call-to-action .banner-text {
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 40px; }
  .call-to-action .banner-button {
    display: block;
    color: #002d40;
    text-align: center;
    padding: 15px 0px;
    width: 150px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 1.5rem;
    background-color: #f9fd50;
    transition: background-color 0.4s;
    margin-bottom: 50px; }
    @media only screen and (max-width: 1024px) {
      .call-to-action .banner-button {
        align-self: center; } }
    .call-to-action .banner-button:hover {
      background-color: #ffd700; }

.call-to-action .social-links {
  display: flex;
  background-color: #002d40;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  height: 80px;
  padding: 10px;
  border-radius: 5px 0px 0px 0px; }
  .call-to-action .social-links .link {
    margin-bottom: 10px;
    display: block; }
    .call-to-action .social-links .link:last-child {
      margin-bottom: 0; }
    .call-to-action .social-links .link i {
      font-size: 2.5rem;
      color: #f9fd50;
      transition: color 0.4s; }
      .call-to-action .social-links .link i:hover {
        color: #ffd700; }
