*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 1158px) {
    html {
      font-size: 55%; } }

body {
  overflow: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

* {
  font-family: 'Montserrat', sans-serif; }

.home-page-content {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 60px 1fr 3fr; }
  @media only screen and (max-width: 1024px) {
    .home-page-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px minmax(20px, 1fr) max-content minmax(20px, 1fr); } }
  .home-page-content .call-to-action {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    grid-template-columns: 1fr 1fr 2fr max-content;
    grid-template-rows: max-content;
    align-content: flex-end; }
    .home-page-content .call-to-action .social-links {
      grid-column: 4 / 5; }

.home-page-content .header-contact-information,
.category-page-content .header-contact-information {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2; }
  @media only screen and (max-width: 1024px) {
    .home-page-content .header-contact-information,
    .category-page-content .header-contact-information {
      display: none; } }

.home-page-content .header-navigation,
.category-page-content .header-navigation {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  grid-template-columns: max-content 2fr; }
  @media only screen and (max-width: 1024px) {
    .home-page-content .header-navigation,
    .category-page-content .header-navigation {
      grid-row: 1 / 2;
      grid-template-columns: 1fr 2fr; } }

.aboutUs-content {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 1024px) {
    .aboutUs-content {
      grid-template-columns: 1fr;
      justify-content: center; }
      .aboutUs-content .aboutUs-photo {
        grid-row: 2 / 3; } }
  .aboutUs-content .aboutUs-plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem; }
    @media only screen and (max-width: 600px) {
      .aboutUs-content .aboutUs-plans {
        grid-template-columns: 1fr;
        row-gap: 3rem; } }

.team-section {
  display: grid;
  grid-template-columns: 1fr; }

footer .footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  @media only screen and (max-width: 850px) {
    footer .footer-content {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem; } }
  @media only screen and (max-width: 600px) {
    footer .footer-content {
      grid-template-columns: 1fr; } }

.main-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  z-index: 1; }
  .main-carousel .carousel-slider-image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center; }
  .main-carousel .img-1 {
    background-image: url("../../img/Auto Skola Wintera B Kategorija.jpg"); }
  .main-carousel .img-2 {
    background-image: url("../../img/Auto skola wintera pirot.jpg"); }
  .main-carousel .img-3 {
    background-image: url("../../img/Auto skola wintera polaganje za vozacku dozvolu.jpg"); }
  .main-carousel .owl-dots {
    position: absolute;
    top: 50%;
    right: 18px;
    padding: 0.5rem;
    border-radius: 5px 0px 0px 5px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #002d40; }
    @media only screen and (max-width: 1024px) {
      .main-carousel .owl-dots {
        right: 0; } }
  .main-carousel .owl-dots button {
    border-radius: 5rem !important;
    margin: 0.3rem 0 !important; }
    @media only screen and (max-width: 1024px) {
      .main-carousel .owl-dots button {
        margin: 0.3rem 2rem; } }
    .main-carousel .owl-dots button:focus {
      outline: none; }
  .main-carousel .owl-dots button span {
    background: white !important;
    margin: 0.5rem 0.6rem !important; }
  .main-carousel .owl-dots .active {
    border: 1px solid #f9fd50 !important; }
  .main-carousel .owl-dots .active span {
    background: #f9fd50 !important;
    margin: 0.3rem 0.5rem !important; }

.background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  height: 100vh;
  background-color: rgba(0, 45, 64, 0.3); }

.header-contact-information {
  background-color: #002d40;
  display: flex;
  justify-content: right;
  padding-right: 100px;
  z-index: 2; }
  @media only screen and (max-width: 1200px) {
    .header-contact-information {
      padding: 0 50px; } }
  .header-contact-information .contact-information {
    display: flex; }
    .header-contact-information .contact-information .information-text {
      display: flex;
      align-items: center;
      margin-right: 20px; }
      .header-contact-information .contact-information .information-text:last-child {
        margin-right: 0; }
      .header-contact-information .contact-information .information-text i {
        color: white;
        font-size: 1.2rem;
        margin-right: 10px; }
      .header-contact-information .contact-information .information-text p {
        color: white;
        font-size: 1.2rem;
        font-weight: 300; }

.header-navigation {
  background-color: rgba(0, 45, 64, 0.9);
  padding: 0 100px;
  display: flex;
  align-items: center;
  z-index: 2500; }
  @media only screen and (max-width: 1200px) {
    .header-navigation {
      padding: 0 50px; } }
  @media only screen and (max-width: 1024px) {
    .header-navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex; } }
  @media only screen and (max-width: 450px) {
    .header-navigation {
      padding: 10px 20px; } }
  .header-navigation .logo img {
    width: 150px;
    height: 40px; }
  .header-navigation nav {
    justify-self: right;
    height: 100%; }
    @media only screen and (max-width: 1024px) {
      .header-navigation nav {
        display: none; } }
    .header-navigation nav .navigation-list {
      display: flex;
      height: 100%; }
      .header-navigation nav .navigation-list .navigation-item {
        margin-right: 30px;
        position: relative; }
        .header-navigation nav .navigation-list .navigation-item:last-child {
          margin-right: 0; }
        .header-navigation nav .navigation-list .navigation-item .navigation-link {
          position: relative;
          display: block;
          color: white;
          font-size: 1.6rem;
          height: 100%;
          padding-top: 20px;
          font-weight: 300; }
          .header-navigation nav .navigation-list .navigation-item .navigation-link::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #f9fd50;
            transition: width 0.4s; }
        .header-navigation nav .navigation-list .navigation-item .navigation-link:hover.navigation-link::after {
          width: 100%; }
        .header-navigation nav .navigation-list .navigation-item .navigation-link:hover.subMenu-entry::after {
          width: 0; }
        .header-navigation nav .navigation-list .navigation-item ul {
          position: absolute;
          display: block;
          opacity: 0;
          visibility: hidden;
          background-color: rgba(0, 45, 64, 0.9);
          border-top: 1px solid #f9fd50;
          width: 140px;
          padding: 0px 10px;
          border-radius: 0px 0px 5px 5px;
          transition: all 0.4s; }
          .header-navigation nav .navigation-list .navigation-item ul li {
            margin-bottom: 10px; }
            .header-navigation nav .navigation-list .navigation-item ul li a {
              padding-top: 15px;
              display: block;
              color: white;
              font-weight: 300;
              font-size: 1.6rem;
              transition: color 0.4s; }
            .header-navigation nav .navigation-list .navigation-item ul li a:hover {
              color: #f9fd50; }
      .header-navigation nav .navigation-list .subMenu-item:hover ul {
        opacity: 1;
        visibility: visible; }
  .header-navigation .sticky {
    position: fixed;
    top: 0; }
  .header-navigation .mobile-navigation-button {
    width: 30px;
    align-self: center;
    justify-self: right;
    display: none;
    z-index: 1000; }
    @media only screen and (max-width: 1024px) {
      .header-navigation .mobile-navigation-button {
        display: block; } }
    .header-navigation .mobile-navigation-button span {
      width: 30px;
      display: block;
      height: 3px;
      margin-bottom: 5px;
      background-color: white; }
      .header-navigation .mobile-navigation-button span:last-child {
        margin-bottom: 0; }

.sideBar-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  opacity: 0;
  height: 100vh;
  z-index: 2501;
  background-color: #002d40;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 20px 50px 0px 50px; }
  @media only screen and (max-width: 450px) {
    .sideBar-navigation {
      padding: 20px 20px 0px 20px; } }
  .sideBar-navigation-close {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 30px;
    display: block;
    align-self: flex-end;
    opacity: 0; }
    @media only screen and (max-width: 450px) {
      .sideBar-navigation-close {
        right: 20px; } }
    .sideBar-navigation-close i {
      font-size: 2.5rem;
      color: white; }
  .sideBar-navigation ul {
    opacity: 0; }
    .sideBar-navigation ul li {
      margin-bottom: 20px; }
      .sideBar-navigation ul li a {
        width: 100%;
        display: block;
        color: white;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        padding: 10px 0; }
    .sideBar-navigation ul .sideBar-dropdown-tabs {
      overflow: hidden;
      padding: 10px 0;
      margin-bottom: 0; }
      .sideBar-navigation ul .sideBar-dropdown-tabs .sideBar-dropdown {
        width: 100%;
        overflow: hidden;
        text-align: center; }
        .sideBar-navigation ul .sideBar-dropdown-tabs .sideBar-dropdown input {
          position: absolute;
          opacity: 0;
          z-index: -1; }
        .sideBar-navigation ul .sideBar-dropdown-tabs .sideBar-dropdown label {
          font-size: 2rem;
          font-weight: 300;
          color: white; }
        .sideBar-navigation ul .sideBar-dropdown-tabs .sideBar-dropdown-content {
          max-height: 0;
          overflow: hidden;
          margin-top: 15px;
          padding-top: 10px;
          transition: max-height 0.7s;
          -webkit-transition: max-height 0.7s;
          padding: 0;
          border-left: 1px solid #f9fd50; }
        .sideBar-navigation ul .sideBar-dropdown-tabs .sideBar-dropdown input:checked ~ .sideBar-dropdown-content {
          max-height: 100vh; }
  .sideBar-navigation .social-links {
    opacity: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #f9fd50;
    padding-top: 20px;
    justify-self: flex-end; }
    .sideBar-navigation .social-links-link {
      margin-right: 15px; }
      .sideBar-navigation .social-links-link i {
        font-size: 4rem;
        color: #f9fd50; }

.sideBar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
  opacity: 0;
  background-color: rgba(0, 45, 64, 0.7); }

.call-to-action .banner {
  background-color: rgba(0, 45, 64, 0.8);
  border-radius: 0px 5px 0px 0px;
  padding: 50px 50px 30px 100px;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 1200px) {
    .call-to-action .banner {
      padding-left: 50px; } }
  @media only screen and (max-width: 1024px) {
    .call-to-action .banner {
      width: 500px;
      border-radius: 5px; } }
  @media only screen and (max-width: 600px) {
    .call-to-action .banner {
      width: 450px; } }
  @media only screen and (max-width: 530px) {
    .call-to-action .banner {
      width: 400px; } }
  @media only screen and (max-width: 480px) {
    .call-to-action .banner {
      width: 350px;
      padding: 20px; } }
  @media only screen and (max-width: 380px) {
    .call-to-action .banner {
      width: 320px; } }
  .call-to-action .banner h1 {
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 15px;
    z-index: 2; }
    @media only screen and (max-width: 1024px) {
      .call-to-action .banner h1 {
        text-align: center; } }
    .call-to-action .banner h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: #f9fd50; }
      @media only screen and (max-width: 1024px) {
        .call-to-action .banner h1::after {
          left: 50%;
          transform: translateX(-50%); } }
  .call-to-action .banner-text {
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 40px; }
    @media only screen and (max-width: 1024px) {
      .call-to-action .banner-text {
        margin-top: 20px; } }
  .call-to-action .banner-button {
    display: block;
    color: #002d40;
    text-align: center;
    padding: 15px 0px;
    width: 150px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 1.5rem;
    background-color: #f9fd50;
    transition: background-color 0.4s;
    margin-bottom: 50px; }
    @media only screen and (max-width: 1024px) {
      .call-to-action .banner-button {
        align-self: center;
        margin-bottom: 0;
        margin-top: 20px; } }
    .call-to-action .banner-button:hover {
      background-color: #ffd700; }

.call-to-action .social-links {
  z-index: 2;
  display: flex;
  background-color: #002d40;
  align-self: flex-end;
  flex-direction: column;
  align-items: center;
  height: 80px;
  padding: 10px;
  border-radius: 5px 0px 0px 0px; }
  .call-to-action .social-links .link {
    margin-bottom: 10px;
    display: block; }
    .call-to-action .social-links .link:last-child {
      margin-bottom: 0; }
    .call-to-action .social-links .link i {
      font-size: 2.5rem;
      color: white;
      transition: color 0.4s; }
      .call-to-action .social-links .link i:hover {
        color: #f9fd50; }

.aboutUs-content {
  width: 100vw;
  height: 100%;
  background-color: #002d40;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
  padding: 100px 100px 200px 100px;
  z-index: 2; }
  @media only screen and (max-width: 1200px) {
    .aboutUs-content {
      padding: 70px 50px 150px 50px; } }
  @media only screen and (max-width: 850px) {
    .aboutUs-content {
      padding: 70px 50px 150px 50px; } }
  @media only screen and (max-width: 600px) {
    .aboutUs-content {
      padding: 70px 50px 150px 50px; } }
  @media only screen and (max-width: 480px) {
    .aboutUs-content {
      padding: 70px 30px 150px 30px; } }
  .aboutUs-content .aboutUs-photo {
    padding-top: 20px;
    margin-right: 70px;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .aboutUs-content .aboutUs-photo {
        margin-right: 0; } }
    .aboutUs-content .aboutUs-photo div {
      width: 55%;
      border: 2px solid white;
      height: 30vh;
      border-radius: 5px;
      box-shadow: 2rem 0.3rem 4rem rgba(0, 45, 64, 0.25);
      background-position: center;
      background-size: cover; }
      @media only screen and (max-width: 1024px) {
        .aboutUs-content .aboutUs-photo div {
          margin-top: 6rem;
          width: 40vw;
          height: 30vw; } }
    .aboutUs-content .aboutUs-photo-1 {
      background-image: url("../../img/Auto Skola Wintera B Kategorija.jpg"); }
    .aboutUs-content .aboutUs-photo-2 {
      position: absolute;
      top: 15vh;
      right: 2rem;
      border: 1px solid #f9fd50;
      background-image: url("../../img/Auto skola wintera pirot.jpg"); }
      @media only screen and (max-width: 1024px) {
        .aboutUs-content .aboutUs-photo-2 {
          top: 2rem;
          right: 0; } }
    .aboutUs-content .aboutUs-photo-3 {
      position: absolute;
      top: 19vw;
      left: 40%;
      transform: translateX(-40%);
      background-image: url("../../img/Auto skola wintera polaganje za vozacku dozvolu.jpg"); }
      @media only screen and (max-width: 1024px) {
        .aboutUs-content .aboutUs-photo-3 {
          top: 0;
          left: 50%;
          transform: translateX(-50%); } }
    @media only screen and (max-width: 1024px) {
      .aboutUs-content .aboutUs-photo {
        display: none; } }
  .aboutUs-content .aboutUs-description .aboutUs-heading {
    color: white;
    font-weight: 300;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 4rem; }
    .aboutUs-content .aboutUs-description .aboutUs-heading::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 1px;
      background-color: #f9fd50; }
  .aboutUs-content .aboutUs-description .aboutUs-text {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 2.7rem; }
    .aboutUs-content .aboutUs-description .aboutUs-text:last-child {
      margin-bottom: 0; }
  .aboutUs-content .aboutUs-description .aboutUs-plans {
    margin-top: 5rem; }
    .aboutUs-content .aboutUs-description .aboutUs-plans .aboutUs-plan {
      border-top: 1px solid #f9fd50; }
      .aboutUs-content .aboutUs-description .aboutUs-plans .aboutUs-plan .plan-heading {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 1rem; }
        .aboutUs-content .aboutUs-description .aboutUs-plans .aboutUs-plan .plan-heading i {
          color: #f9fd50;
          margin-right: 10px;
          justify-self: left; }
        .aboutUs-content .aboutUs-description .aboutUs-plans .aboutUs-plan .plan-heading h2 {
          color: white;
          font-weight: 300; }
      .aboutUs-content .aboutUs-description .aboutUs-plans .aboutUs-plan .plan-text {
        color: white;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 2rem; }

.team-section {
  padding: 50px 100px 100px 100px; }
  @media only screen and (max-width: 670px) {
    .team-section {
      padding: 50px 50px 60px 50px; } }
  @media only screen and (max-width: 480px) {
    .team-section {
      padding: 50px 20px 60px 20px; } }
  .team-section-heading {
    justify-self: center;
    font-weight: 300;
    font-size: 2.5rem;
    color: #002d40;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 5rem; }
    .team-section-heading::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 1px;
      background-color: #002d40; }
  .team-section .team-carousel {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .team-section .team-carousel .owl-loaded {
      display: inline-block; }
    .team-section .team-carousel .owl-stage {
      width: 100% !important;
      display: flex !important; }
    .team-section .team-carousel .owl-dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-top: 5rem; }
    .team-section .team-carousel .owl-item {
      width: 250px !important;
      margin-right: 4rem; }
    .team-section .team-carousel .owl-item.active {
      width: 250px !important; }
    .team-section .team-carousel .team-carousel-card {
      width: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      box-shadow: 1rem 1rem 1rem rgba(0, 45, 64, 0.2);
      border-radius: 5px;
      padding-bottom: 2rem;
      position: relative;
      margin-right: 4rem; }
      .team-section .team-carousel .team-carousel-card .team-carousel-card-background {
        position: relative;
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        border-radius: 5px 5px 0px 0px;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); }
        .team-section .team-carousel .team-carousel-card .team-carousel-card-background-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 45, 64, 0.3);
          border-radius: 5px 5px 0px 0px; }
      .team-section .team-carousel .team-carousel-card-member {
        width: 130px;
        height: 130px;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        border: 1px solid white;
        position: absolute;
        top: 42%; }
      .team-section .team-carousel .team-carousel-card-info {
        margin-top: 5rem; }
        .team-section .team-carousel .team-carousel-card-info h2 {
          font-weight: 300;
          font-size: 2rem;
          color: #002d40;
          margin-bottom: 2rem; }
        .team-section .team-carousel .team-carousel-card-info .job-title li {
          text-align: center;
          margin-bottom: 1rem;
          font-size: 1.5rem; }
    .team-section .team-carousel #card-1 .team-carousel-card-background {
      background-image: url("../../img/auto_skola_wintera_instruktor_1.jpg"); }
    .team-section .team-carousel #card-1 .team-carousel-card-member {
      background-image: url("../../img/Auto Skola Wintera Tim 1.jpg"); }
    .team-section .team-carousel #card-2 .team-carousel-card-background {
      background-image: url("../../img/auto_skola_wintera_instruktor_2.jpg"); }
    .team-section .team-carousel #card-2 .team-carousel-card-member {
      background-image: url("../../img/Auto Skola Wintera Tim 2.jpg"); }
    .team-section .team-carousel #card-3 .team-carousel-card-background {
      background-image: url("../../img/auto_skola_wintera_instruktor_3.jpg"); }
    .team-section .team-carousel #card-3 .team-carousel-card-member {
      background-image: url("../../img/Auto Skola Wintera Tim 3.jpg"); }
    .team-section .team-carousel #card-4 .team-carousel-card-background {
      background-image: url("../../img/auto_skola_wintera_instruktor_4.jpg"); }
    .team-section .team-carousel #card-4 .team-carousel-card-member {
      background-image: url("../../img/Auto Skola Wintera Tim 5.jpg"); }
    .team-section .team-carousel #card-5 .team-carousel-card-background {
      background-image: url("../../img/auto_skola_wintera_instruktor_5.jpg"); }
    .team-section .team-carousel #card-5 .team-carousel-card-member {
      background-image: url("../../img/Auto Skola Wintera Tim 4.jpg"); }
    .team-section .team-carousel #card-6 .team-carousel-card-background {
      background-image: url("../../img/auto_skola_wintera_instruktor_6.jpg"); }
    .team-section .team-carousel #card-6 .team-carousel-card-member {
      background-image: url("../../img/Auto Skola Wintera Tim 10.jpg"); }

footer {
  background-color: #002d40;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  padding: 80px 100px 50px 100px; }
  @media only screen and (max-width: 1200px) {
    footer {
      padding: 80px 50px 50px 50px; } }
  footer .company-details {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .company-details .footer-logo img {
      width: 150px;
      height: 60px; }
    footer .company-details p {
      color: white;
      font-size: 1.2rem;
      margin-bottom: 2rem; }
  footer .footer-location {
    text-align: center; }
    footer .footer-location p {
      font-weight: 300;
      font-size: 1.2rem;
      color: white;
      margin-bottom: 1rem; }
      footer .footer-location p:last-child {
        font-size: 1.3rem; }
        footer .footer-location p:last-child i {
          margin-right: 5px; }
  footer .footer-social p {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem; }
  footer .footer-social .footer-socialLinks {
    display: flex;
    justify-content: center; }
    footer .footer-social .footer-socialLinks a {
      color: white;
      font-size: 3.5rem;
      margin-right: 2rem;
      transition: color 0.4s; }
      footer .footer-social .footer-socialLinks a:last-child {
        margin-right: 0; }
      footer .footer-social .footer-socialLinks a:hover {
        color: #f9fd50; }
  footer .footer-contact p {
    text-align: left;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 600px) {
      footer .footer-contact p {
        text-align: center; } }
    footer .footer-contact p i {
      margin-right: 5px; }
  footer .copyrights {
    display: flex;
    justify-content: center; }
    footer .copyrights p {
      color: white;
      margin-right: 1rem; }
